<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        比特币
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        莱特币
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#license/#free-item">
                        狗币
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>