<!-- 菜单 -->
<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active">
                <a href="/">
                    <i class="la la-home"></i>
                    <p>首页</p>
                </a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a href="{:url('index/index/catInfo','cat_id=15')}">-->
                    <!--<i class="la  la-book"></i>-->
                    <!--<p>币百科</p>-->
                <!--</a>-->
            <!--</li>-->
            <li class="nav-item">
                <a href="{:url('index/index/catInfo','cat_id=18')}">
                    <i class="la  la-group"></i>
                    <p>新手入门</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{:url('index/index/catInfo','cat_id=17')}">
                    <i class="la  la-money"></i>
                    <p>交易所</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{:url('index/index/catInfo','cat_id=19')}">
                    <i class="la  la-chain"></i>
                    <p>行业媒体</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{:url('index/index/catInfo','cat_id=20')}">
                    <i class="la  la-spoon"></i>
                    <p>必备工具</p>
                </a>
            </li>
        </ul>
    </div>
</div>